:root {
	--fuente-principal: "Asap", sans-serif;
	--fuente-titulo: "Roboto", sans-serif;
}

/* generales */

html {
	box-sizing: border-box;
	font-size: 62.5%; /* Para 1rem = 10px */
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	line-height: 2;
	font-size: 2rem;
	text-align: center;
	margin: 0;
	font-family: var(--fuente-principal);
}

h2 {
	text-decoration: underline;
}

h3 {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 0 50px;
}

a {
	color: black;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 1.6rem;
	}
}

/* entrada */

header {
	background-color: black;
}

#entrada-pagina-principal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

#video-fondo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: auto;
	height: 100%;
}

h1 {
	margin: 0 1rem;
	z-index: 1;
	font-family: var(--fuente-titulo);
}

#enlace-jhon-cardona {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

#jhon-cardona {
	/* padding: 10px;
	color: black;
	background-color: white; */
	align-self: center;
}

#jhon {
	color: black;
	background-color: white;
	padding: 10px;
}

#cardona {
	color: white;
	background-color: black;
	padding: 10px;
}

#desarrollador-externo {
	align-self: flex-end;
	text-transform: capitalize;
}

#desarrollador {
	color: white;
	padding: 10px;
	background-color: black;
	animation: blanco-negro 3s infinite;
}

@keyframes blanco-negro {
	0% {
		color: white;
		background-color: black;
	}

	50% {
		color: black;
		background-color: white;
	}

	100% {
		color: white;
		background-color: black;
	}
}

@media only screen and (min-width: 768px) {
	#enlace-jhon-cardona {
		flex-direction: row;
		justify-content: space-between;
	}

	#entrada-pagina-principal {
		background-color: black;
	}

	#video-fondo {
		display: none;
	}
}

/* proyectos */

.sobrePoner {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.sobrePoner img {
	max-height: 80%;
	width: auto;
	margin: 20px;
}

.btn-cerrar {
	background-color: white;
	font-weight: bold;
	padding: 10px;
	width: 30%;
	margin: 0 auto;
}

.btn-cerrar:hover {
	cursor: pointer;
}

#proyectos-titulo {
	text-align: left;
}

.proyecto-display {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.proyecto-display img:hover {
	cursor: pointer;
}

.proyecto-display a {
	text-decoration: none;
	color: blue;
}

@media only screen and (min-width: 768px) {
	.grid-pagina-principal {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.proyecto-display {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr;
	}

	.sobrePoner {
		padding: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.btn-cerrar {
		display: none;
	}

	.sobrePoner img {
		max-height: 100%;
		margin: 0;
	}
}

/* footer */
footer {
	background-color: black;
	color: white;
	padding-top: 5px;
}

#navegacion-footer {
	display: flex;
	justify-content: space-around;
}

.enlace-nav {
	color: white;
	padding: 20px;
}

.enlace-nav:hover {
	color: black;
	background-color: white;
}

footer p {
	margin: 0;
}

/* contacto */
#contacto-titulo {
	text-align: left;
}

#enlace-jhon-cardona-secundario {
	display: flex;
	text-decoration: none;
}

.elemento-contacto a {
	text-decoration: none;
}

.icono-texto {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.enlace-nav:hover {
	color: black;
	background-color: white;
}
